body{
	background-color: white;
}

.blank-row{
	background-color: white;
}

.sigil{
	text-align: right;
}

.quote-text{
	font-size: 80px;
    font-family: 'Niconne', cursive;
}

.author-text{
    font-size: 50px;
    text-align: center;
    font-family: 'Niconne', cursive;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    outline: none;
}

.btn:focus{
    color: white;
    outline: none;
}

.btn:hover{
    color: black;
}

.btn:active{
    color: white;
    border:0 none;
    outline: none;
}