body{
	background-color: white;
}

.blank-row{
	background-color: white;
}

.sigil{
	text-align: right;
}

.quote-text{
	font-size: 80px;
}

.author-text{
    font-size: 50px;
    text-align: center;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

